.add-Playback{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    /* border: 5px dotted green; */

    width: 10%;
    text-align: center;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    display: inline-block;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* margin: 50px; */
    /* margin-top: -0.5%; */
    padding: 0%;
    /* margin-bottom: -50%; */
    margin-top: 1%;
}
.all{
    margin-top: 15%;
    margin-bottom: -50%;
}
.error-message{
    background-color: red;
}
h1{
    text-align: center;
    /* margin-left: 200px; */
    margin-right: -165px;
    /* margin-right: -120px; */
    /* padding: auto; */
    margin-top: 16%;
    /* margin-top: -50; */
    margin-bottom: -65%;
    /* margin: 0%; */
}
.button{
padding: 5px;
width: 185px;
margin-top: 5%;
}

/*--------------------------------*/
.p1 {
    text-align: center;
    padding: 10%;
    display: flex;
    white-space: nowrap;
    top: -20px;

}
.playback {
    text-align: center; /*טוב*/
    border: 5px dotted green; /*טוב*/

    width: 15%; /*טוב*/
    text-align: center; /*טוב*/
    /*flex-direction: column;*/ /*טוב*/
    align-items: center; /*טוב*/

    margin: 0 auto; /*טוב*/
    /*flex-direction: column;*/ /*טוב*/
    /* justify-content: center; */
    /* align-items: center;  */


    display: inline-block;
    flex-wrap: wrap;
     justify-content: space-between; 
    margin: 50px;
    margin-top: 5%;
    padding: 0.5%;


    /* vertical-align: middle; */
    vertical-align: top; /*לא משפיע כלל*/
    /*float: left; *//*טוב אבל באופן חלקי*/
    /*display: inline-block;*/ /*לא משפיע כלל*/
    vertical-align: middle; /*לא משפיע כלל*/

    /* display: flex; */
    /* align-items: center; */
    /* display: inline-block; */
    /* flex-wrap:wrap; */
    /* justify-content: space-around; */
    /* top: 200%; */
}
.h1Play{
    text-align: center;
    white-space: nowrap;
    margin-right: 42%;
    margin-top: -11%;
    margin-bottom: -50%;
}

/* .usersDiv{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
} */


.Add-P{
    position: relative;
    margin: 0;
    margin-right: -15%;
    margin-top: -30%;
}
 .Addd{
    margin-top:10%
} 