/* body{
    overflow: hidden;
} */
/*אם אני מורידה את זה זה עושה בלאגן App לא יודעת אם ואיך זה קשור ל*/
.img {
    padding: 0px;
    width: 200px;
    height: 200px;
    align-items: center;
    margin-left: 40px;
    position:relative;
    right: -80px;
}

h1 {
    /* margin-top: -40px;
    margin-left: -40px;
    text-align: center; */
    text-align: center;
    /* border: 5px dotted green; */

    width: 15%;
    text-align: center;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;


    display: inline-block;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 50px;
    margin-top: -170px;
    padding: 0.5%;
}
h2 {
    margin-top: -100px;
    margin-left: 5px;
    text-align: center;
}
.h2{
    margin-top: 0%;
}
.items{
    /* text-align: center;
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -40px; */
    text-align: center;
    border: 5px dotted green;

    width: 15%;
    /* text-align: center; */
    flex-direction: column;
    /* align-items: center; */

    /* margin: 0 auto; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */


    display: inline-block;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* margin: 50px; */
    margin-top: 10px;
    padding: 5%;
    margin-left: 1px;
    padding-top: 30%;


    /* padding: 0; */
    /* margin: 0; */
    line-height: -1%;

    /* max-height: 0%; */ /*לא משפיע כלל*/
    overflow-y: auto;
    position: relative;
}
/* h3{
    padding: 1%;
    margin: 5%;
} */
 .details{
    margin-top: -190%;
    margin-right: 55%;
 }
 .noInvitation{
    margin-top: 5%;
 }
 .picture{
    /* width: auto;
    height: auto; */
    object-fit: contain;
    margin: 0 auto;
    display: block;
    margin-right: -40%;
 }
 /* #picture1{
    min-width: -20px;
    min-height: -20px;
 } */