h3 {
    text-align: center;
}

link {
    text-align: center;
    background-color: crimson;
}

Button {
    /* margin-right: 10px;   */
    margin: 0 auto;
}

/* :link{
    align-items:center ;
} */
label {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
}

.nav1 {
    padding-top: -50px;
    align-items: center;
    padding: 5%;



    /* display: flex;
    justify-content: space-between; */
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px; */

}

.line {
    white-space: nowrap;
}

/*משתמש מנהל*/
.user-M {
    width: 10%;
    white-space: nowrap;
    margin-right: -7%;
    margin-top: -31%;
}

/*קישור הזמנות אישיות יהיה בשורה אחת*/
.aa {
    white-space: nowrap;
}

/*משתמש רגיל*/
.user-R {
    width: 10%;
    white-space: nowrap;
    margin-right: 40%;
    margin-top: -47%;
}

/* .kishoor{
    padding: 5px;
} */
.button-container {
    margin-right: -20%;
    margin-top: -2%;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.users {
    margin-left: -85%;
    margin-top: -4%;

    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}